<h1>Latest News!</h1>

<h2>News Without A Comment</h2>
<ul>
    {{#each newsObject}}
        {{headline}}
    {{/each}}
    {{#each newsObject}}{{/each}}
    {{#each newsObject.summary}}{{/each}}
    {{#each newsObject.url}}{{/each}}
</ul>

<h2>News With A Comment</h2>
<ul>
    {{#each Article}}{{/each}}
</ul>