#header{
   background: lightblue;
   display: block;
   margin-top: 0px;
   padding: 10px;
}

h5{
    color: lightslategrey;
}

.newsStory{
    border: solid thin lightslategray;
    box-shadow: 5px 5px darkslategray;
    display: block;
    margin: 10px;
    padding: 5px;
}

#noCommentStoryDiv{
    background: lightgreen;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}

#commentStoryDiv{
    background: lightsalmon;
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}

#commentsDiv{
    background: rgb(255, 255, 100);
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}

#comments{
    display: block;
    margin: 10px;
    padding: 5px;
}

#footer{
    background: lightblue;
    display: block;
    margin-bottom: 0px;
    padding: 10px;
    text-align: center;
}